<div class="terms-container mb-5">
  <h1>MeetUs.tube Terms of Use - End User Agreement</h1>
  <p>
    The following constitutes the MeetUs.tube Terms of Use - End User Agreement
    <b>(“Agreement”)</b> and is lawfully binding and applies to your use of the
    MeetUs.tube Platform <b>(“Platform”)</b>.
  </p>
  <p>
    <b
      >PLEASE READ THE TERMS OF THIS AGREEMENT. THIS AGREEMENT SETS FORTH
      BINDING TERMS AND CONDITIONS FOR YOUR USE OF MEETUS.TUBE.</b
    >
  </p>
  <p>
    By accessing or using MeetUs.tube, you agree to be bound by these terms.
  </p>

  <div>
    <h2>INTRODUCTION</h2>
    <p>
      "MeetUs.tube" operates the Platform located at
      <a href="https://MeetUs.tube" target="_blank">https://MeetUs.tube</a>.
      MeetUs.tube also features multiple Referral Affiliate (“Referral
      Affiliate”) websites. By creating an account at MeetUs.tube, the End User
      agrees to the following:
    </p>
  </div>

  <div>
    <h2>1. About MeetUs.tube</h2>
    <ul>
      <li>
        A. MeetUs.tube is the platform for all freedom projects worldwide and
        local community-driven actions.
      </li>
      <li>
        B. Local Communities worldwide have the ability to unite and take
        actions to better health by growing and eating organic food and
        receiving natural healing.
      </li>
      <li>C. Freedom of speech is respected.</li>
      <li>
        D. You can Unsubscribe from any end user if you do not like their
        speech.
      </li>
      <li>E. You can See First any end user whose speech you like.</li>
      <li>
        F. The MeetUs.tube mission is to unite humanity worldwide to peacefully
        stop tyranny and implement a world based on love and moral values for
        all, no matter race, religion, or political views.
      </li>
      <li>
        G. The founders of this platform understand this world needs to be all
        about love, doing the right thing, and rejecting fear from doing what is
        right. We believe all beings are free and truth shines light, and light
        overcomes dark.
      </li>
      <li>
        H. MeetUs.tube is structured to inform millions of people with
        researched information derived from and presented by leaders of Research
        Groups in which you can freely participate and optionally take actions
        to implement solutions that directly benefit you, your family, and your
        friends.
      </li>
    </ul>
  </div>

  <div>
    <h2>2. Services</h2>
    <p>
      The Platform provides functionality for End User
      <b>(“End User” or “you”)</b> to utilize the following services or
      functionalities, all collectively referred to herein as the Services
      <b>(“Services”)</b> as further defined within this Agreement. Services may
      include but are not limited to the following:
    </p>
    <ul>
      <li>A. MeetUs.tube (“Platform” or “Services”)</li>
      <li>B. Create a free End User Account (“Account”)</li>
      <li>C. Create Pages (“Pages”)</li>
      <li>D. Create Local Communities (“Local Communities”)</li>
      <li>
        E. Send Messages (“Message”) to end users who approve you to send
        messages to them
      </li>
      <li>
        F. Share images, videos, typed content, send chat messages, and utilize
        other features collectively referred to herein as Content (“Content”)
      </li>
      <li>G. Like and Dislike posts and other Emotion functionalities</li>
      <li>H. Report (“Report”) copyrighted Content</li>
      <li>
        I. Share links to websites outside of the Platform to third-party
        websites.
      </li>
      <li>
        J. Share information from Pages and Groups on other Social Media
        platforms (“Social Media Sharing”)
      </li>
      <li>
        K. Share within MeetUs.tube Developer Services (“Developer Services”)
      </li>
      <li>
        L. Participate within MeetUs.tube Advertising Services (“Advertising
        Services”)
      </li>
      <li>
        M. Referral Affiliates are partners with which MeetUs.tube has
        established business relationships
      </li>
      <li>
        N. View or participate in third-party services located within
        MeetUs.tube or available by external links
      </li>
      <li>
        O. Modify Settings (“Settings”) including changing your password, SMS or
        email preferences, and Delete your Account (“Delete Account”).
      </li>
      <li>
        P. The Platform may provide other Services, functionalities, features,
        content, applications, or third-party services offered or operated from
        time to time in connection with the Platform.
      </li>
    </ul>
  </div>

  <div>
    <h2>3. End User Responsibilities</h2>
    <ul>
      <li>
        A. End Users (you) are solely responsible for any Content you post to
        the Platform and Services you utilize on the Platform. The Content you
        share on the Platform is being shared and viewed by other end users.
      </li>
      <li>
        B. Content can be shared within news feeds, Pages, Local Community,
        FreedomTube, and other areas for other End Users. Be aware that another
        end user can share the Content you posted with a different audience.
        Content can be shared utilizing Social Media Sharing to other
        third-party services and websites over which MeetUs.tube has no
        control. Only share Content you are confident in sharing with
        MeetUs.tube users and potentially the world.
      </li>
      <li>
        C. MeetUs.tube is not a service intended for children. By using the
        Platform, you affirm that you are eighteen (18) years of age or older.
      </li>
    </ul>
  </div>

  <div>
    <h2>4. Posted Content</h2>
    <ul>
      <li>
        A. The Content posted to the Platform is the sole responsibility of the
        End User that originally posted Content to MeetUs.tube. Do not post
        nudity or copyrighted Content. End Users have the ability to Report
        posted copyrighted Content. MeetUs.tube may or may not monitor reported
        Content. MeetUs.tube may or may not delete reported Content.
        MeetUs.tube reserves the right to delete any reported Content with or
        without notice to End User.
      </li>
      <li>
        B. End User agrees MeetUs.tube is not responsible nor liable for any
        posted Content, including but not limited to errors, omissions, loss, or
        damage that is claimed and resulted to End User as a result of any
        Content posted on the Platform.
      </li>
      <li>
        C. MeetUs.tube does not represent or guarantee legitimacy, accuracy, or
        reliability of any Content posted to the Platform. An End User could
        potentially post Content that is potentially inaccurate, deceptive,
        mislabeled, or inappropriate and distasteful. End User agrees to
        indemnify and hold harmless MeetUs.tube, its employees, members,
        directors, managers, officers, or agents from and against any loss,
        liability, damage, penalty, or expense (including attorneys' fees,
        expert witness fees, and cost of defense) they may suffer or incur as a
        result of (i) any failure by the party to comply with the terms of this
        Agreement; (ii) any warranty or representation made by the party being
        false or misleading; (iii) any representation or warranty made by the
        party or any employee or agent of the party to any third person other
        than as specifically authorized by this Agreement, (iv) the manner or
        method in which End User, MeetUs.tube, or other end users perform its
        services pursuant to this Agreement, (v) negligence of MeetUs.tube or
        its subcontractors, agents, or employees, or (vi) any alleged or actual
        violations by the party or its subcontractors, employees, or agents of
        any applicable law.
      </li>
    </ul>
  </div>

  <div>
    <h2>5. Community Monitoring</h2>
    <ul>
      <li>
        A. MeetUs.tube does not censor; we allow our friends to determine what
        Content is propaganda or real fake news. MeetUs.tube does not like
        propaganda left or right. If you do not like the speech of an end user,
        simply Unsubscribe from them.
      </li>
      <li>
        B. MeetUs.tube may or may not monitor Content. End User can Report
        copyrighted Content.
      </li>
    </ul>
  </div>

  <div>
    <h2>6. End User Licensed Data</h2>
    <ul>
      <li>
        A. End User shall retain limited rights to your Data (“Data”). Data
        shall be considered any original owned non-copyrighted Content posted to
        the Platform, including personal photos, videos, or original
        documentation. Be advised, any Data which End User posts to the Platform
        is being made public by End User and can be seen and shared by other end
        users, thus limited rights to your Data as End User is sharing Data
        publicly.
      </li>
      <li>
        B. By End User posting Content/Data to the Platform, End User hereby
        grants MeetUs.tube a worldwide, non-exclusive, royalty-free,
        irrevocable, and perpetual License (“License”) to use, copy, reproduce,
        modify, distribute, sublicense, and prepare derivative works of
        Content/Data in any format or medium now known or later developed,
        subject to these terms of this Agreement.
      </li>
      <li>
        C. End User agrees that the License includes:
        <ul>
          <li>
            1. MeetUs.tube has the License to promote and improve MeetUs.tube,
            Services, or Referral Affiliate services.
          </li>
          <li>
            2. Allow Content/Data available to other end users, other social
            media platforms, third-party companies, organizations, individuals,
            broadcast, syndication, and other types of distribution and/or
            publication.
          </li>
        </ul>
      </li>
      <li>
        D. End User hereby declares, represents, and warrants that End User has
        sufficient rights to enter into and grant MeetUs.tube this License.
      </li>
      <li>
        E. End User Content/Data made available to other end users, other social
        media platforms, third-party companies, organizations, individuals,
        broadcast, syndication, and other types of distribution and/or
        publication is being done willfully and knowingly by End User that End
        User will receive zero compensation from MeetUs.tube or any other
        involved party.
      </li>
      <li>
        F. After End User posts or uploads Content/Data to the platform, End
        User can delete Content/Data; however, End User cannot claim copyright
        infringement by other end users, other social media platforms,
        third-party companies, organizations, individuals, broadcast,
        syndication, and other types of distribution and/or publication.
      </li>
    </ul>
  </div>

  <div>
    <h2>7. Copyrighted Content</h2>
    <ul>
      <li>
        A. Do not post copyrighted material. MeetUs.tube shall review claims of
        copyright infringement and remove Content/Data for further review. Upon
        further review, MeetUs.tube at its own discretion may repost or
        permanently delete the reviewed Content/Data with or without notice to
        End User.
      </li>
    </ul>
  </div>

  <div>
    <h2>8. Copyright Claims</h2>
    <p>
      If you own a copyright and believe your Content/Data has been infringed
      upon, follow these steps:
    </p>
    <ul>
      <li>A. Report the posted Content/Data on the Platform.</li>
      <li>
        B. Email MeetUs.tube at
        <a href="mailto:support@MeetUs.tube">support@MeetUs.tube</a>. In the
        subject line provide Copyright Infringement. Provide a description of
        the copyrighted Content/Data.
      </li>
      <li>C. Attach proof of copyright to the Content/Data in question.</li>
      <li>
        D. Include End User's full legal name on any copyright including address
        and phone number.
      </li>
      <li>
        E. Attach a legally executed statement of why End User believes any
        copyright has been infringed upon.
      </li>
    </ul>
  </div>

  <div>
    <h2>9. Standard of Conduct</h2>
    <p>End User agrees to the following Standard of Conduct:</p>
    <ul>
      <li>
        A. Not to post any inappropriate content or information including but
        not limited to: pornography, confidential or private information about
        third parties, violent content or information, or any other offensive
        content or information.
      </li>
      <li>
        B. Not to infringe on the MeetUs.tube Platform copyright, patent,
        trademark, trade secret, or other intellectual property rights.
      </li>
      <li>
        C. Act in a manner that is defamatory, trade libelous, unlawfully
        threatening, or unlawfully harassing.
      </li>
      <li>D. Not to provide false, inaccurate, or misleading information.</li>
      <li>E. Use an anonymous proxy.</li>
      <li>
        F. To utilize the MeetUs.tube Platform in a manner that does not result
        in or may result in complaints, disputes, claims, or other liability to
        MeetUs.tube.
      </li>
      <li>
        G. Not to access the MeetUs.tube Platform from a country that is not
        allowed by the Government of the United States of America.
      </li>
      <li>
        H. Not to take any action that imposes an unreasonable or
        disproportionately large load on our infrastructure; may damage,
        detrimentally interfere with, surreptitiously intercept, or expropriate.
      </li>
      <li>
        I. Not to use any bot, robot, spider, other automatic device, or manual
        process to monitor or copy our website or the MeetUs.tube Platform.
      </li>
      <li>
        J. You agree not to upload viruses or other malicious forms of computer
        code.
      </li>
      <li>
        K. Use any device to interfere or attempt to interfere with the
        MeetUs.tube Platform.
      </li>
      <li>L. Access, tamper with, or use non-public areas of MeetUs.tube.</li>
      <li>
        M. Probe, scan, or test the vulnerability of MeetUs.tube or circumvent
        any security or authentication measures of MeetUs.tube.
      </li>
      <li>
        N. Forge any TCP/IP packet header or any part of the header information
        in any email or posting, or in any way use MeetUs.tube to send altered,
        deceptive, or false source-identifying information.
      </li>
      <li>
        O. To utilize the MeetUs.tube Platform emailing features for legal
        purposes only.
      </li>
      <li>P. To post only legal non-copyright material.</li>
      <li>
        Q. Not to engage in any activity that violates any local, state, or
        federal law.
      </li>
      <li>
        R. Not to promote discrimination, personal injury, death, damage, or
        destruction of property.
      </li>
      <li>
        S. Create a new account to use the Platform after MeetUs.tube has
        terminated this Agreement with you as a result of End User breach of
        this Agreement.
      </li>
      <li>
        T. Hatred or bigotry towards any person, group, or religion will not be
        tolerated. We have a zero-tolerance policy towards hate speech towards
        any person, group, or religion. First offense, you will be warned;
        second offense, we will delete your account without notice.
      </li>
      <li>
        U. Factual information for educational purposes is encouraged. If
        factual information offends any politically correct safe space required
        individual, group, business, or religion, this is not the platform for
        you. Do not create an account. The factual truth for educational
        purposes is allowed on the MeetUs.tube Platform no matter who it
        offends.
      </li>
    </ul>
  </div>

  <div>
    <h2>10. Term, Terms, and Termination</h2>
    <ul>
      <li>
        A. This Agreement, in the form posted at the time of your use of
        MeetUs.tube, Platform, and Services shall govern such use of such
        MeetUs.tube, Platform, and Services, including the current version of
        the Platform and Services and any applicable prior version of the
        Platform or Services. As MeetUs.tube, Platform, and Services evolve,
        the terms and conditions under which we offer MeetUs.tube, Platform,
        and Services may change. Accordingly, each time you sign in to or
        otherwise use MeetUs.tube you are entering into a new agreement with
        MeetUs.tube on the then applicable terms and conditions and that your
        use of MeetUs.tube constitutes your agreement with the current and
        prior terms of this Agreement. Therefore, you should review the posted
        Agreement and any applicable additional terms each time you use
        MeetUs.tube.
      </li>
      <li>
        B. You may terminate your Account at any time, for any reason, by
        clicking on Settings and clicking on Delete Account. Be advised any
        Data/Content posted and/or shared by you or other end users to other
        social media platforms, third-party companies, organizations,
        individuals, broadcast, syndication, and other types of distribution
        and/or publication within the Platform shall not be deleted when you
        delete your account.
      </li>
      <li>
        C. MeetUs.tube may terminate your Account at any time for any or no
        reason, with or without prior notice or explanation, and without
        liability. Further, we may deny, restrict, suspend, or terminate your
        access to all or any part of MeetUs.tube, Platform, and Services at any
        time, for any or no reason, with or without prior notice or explanation,
        and to the maximum extent permitted by applicable law, without
        liability.
      </li>
    </ul>
  </div>

  <div>
    <h2>11. Indemnity</h2>
    <ul>
      <li>
        A. End User agrees to indemnify, defend, and hold harmless MeetUs.tube,
        its employees, members, directors, managers, officers, Referral
        Affiliates, contractors, or agents from and against any claim, action,
        demand, loss, or damages (including attorneys' fees) made or incurred by
        any third party arising out of or relating to the Data/Content you
        upload to the Platform or view and utilize on the Platform, and/or your
        use of the Platform, your violation of this Agreement, or your violation
        of any rights of a third party.
      </li>
      <li>
        B. End User agrees to indemnify, defend, and hold harmless MeetUs.tube,
        its employees, members, directors, managers, officers, Referral
        Affiliates, contractors, or agents from and against any loss, liability,
        damage, penalty, or expense (including attorneys' fees, expert witness
        fees, and cost of defense) they may suffer or incur as a result of (i)
        any failure by End User or other end users to comply with the terms of
        this Agreement; (ii) any warranty or representation made by End User or
        other end users being false or misleading; (iii) any representation or
        warranty made by End User or other end users or any employee or agent of
        the party to any third person; (iv) the manner or method in which
        MeetUs.tube performs its Services pursuant to this Agreement; (v)
        negligence of MeetUs.tube or its subcontractors, agents, Referral
        Affiliates, contractors, or employees; or (vi) any alleged or actual
        violations by MeetUs.tube or its subcontractors, employees, Referral
        Affiliates, contractors, or agents of any rules or applicable law.
      </li>
    </ul>
  </div>

  <div>
    <h2>12. End User Dedicated Email Address</h2>
    <ul>
      <li>
        A. When End User creates a MeetUs.tube account, End User must enter a
        valid Dedicated Email Address <b>(“Dedicated Email Address”)</b> for the
        purpose of End User Activating Account and for MeetUs.tube emailing End
        User and End User notifications and other email notices.
      </li>
    </ul>
  </div>

  <div>
    <h2>13. Password</h2>
    <ul>
      <li>
        A. When you create an Account, you must create a password. End User is
        entirely responsible for maintaining the confidentiality of your
        password. End User agrees not to use the Account, email address, or
        password of another Member at any time or to disclose your password to
        any third party. You agree to notify MeetUs.tube immediately if you
        suspect any unauthorized use of your Account or access to your password.
        You are solely responsible for any and all use of your Account.
      </li>
    </ul>
  </div>

  <div>
    <h2>14. Hardware and Communications</h2>
    <ul>
      <li>
        A. End User shall be solely responsible for End User's own computer
        equipment and establishing and maintaining its telecommunication lines
        and equipment necessary to transmit data and receive Contribution
        Notifications and other notifications from MeetUs.tube.
      </li>
    </ul>
  </div>
  <div>
    <h2>15. MeetUs.tube Intellectual Property</h2>
    <ul>
      <li>
        A. Intellectual Property <b>(“Intellectual Property”)</b> means all of
        the following owned by MeetUs.tube and/or independent contractors,
        contractors, affiliates, licensees and agents: (i) trademarks and
        service marks (registered and unregistered) and trade names, and
        goodwill associated therewith; (ii) the MeetUs.tube Platform, patents,
        patentable inventions, computer programs, and software; (iii) databases;
        (iv) trade secrets and the right to limit the use or disclosure thereof;
        (v) copyrights in all works, including software programs; and (vi)
        domain names. The rights owned by a party in its Intellectual Property
        shall be defined, collectively, as “Intellectual Property Rights.” Other
        than the express licenses granted by the Agreement, MeetUs.tube grants
        no right or license to End User by implication, estoppel or otherwise to
        the MeetUs.tube services or any Intellectual Property Rights of
        MeetUs.tube.
      </li>
    </ul>

    <div>
      <h2>16. MeetUs.tube Ownership</h2>
      <ul>
        <li>
          A. All right, title and interest in MeetUs.tube, the MeetUs.tube
          Platform, websites, domain names, websites, trademarks, patents,
          computer code, programming or other related End User account,
          MeetUs.tube marketing materials, and MeetUs.tube confidential
          information shall remain solely and exclusive property of
          MeetUs.tube.
        </li>
      </ul>
    </div>

    <div>
      <h2>
        17. MeetUs.tube Referral Affiliate Websites and Third-Party Entities
      </h2>
      <ul>
        <li>
          A. MeetUs.tube may feature separate websites, services, software or
          business processes that are legally not owned nor managed by
          MeetUs.tube and managed and owned by a separate legal entity
          (Third-Party Entity”). These separate Third-Party Entities include but
          not limited to 1776 Tokens, LocalFoods.market, LamarsList.com,
          Healing.tube and many other Referral Affiliates.
        </li>
        <li>
          B. MeetUs.tube may feature many Referral Affiliates (“Referral
          Affiliate”) that represent different Referral Affiliates in which End
          User must register separately from MeetUs.tube. Referral Affiliate
          terms and conditions are their terms and conditions and separate from
          MeetUs.tube.
        </li>
      </ul>
    </div>

    <div>
      <h2>18. 1776 Token Compensation</h2>
      <ul>
        <li>
          <h5>
            MeetUs.tube agrees to compensate End User in the 1776 Token for the
            following:
          </h5>
          <ul>
            <li>
              1. Participating on MeetUs.tube and MeetUs.tube, including
              posting, liking posts, sharing posts, viewing videos, and
              referring family and friends to the MeetUs.tube and MeetUs.tube
              Platforms.
            </li>
            <li>
              2. Compensation shall change from time to time with or without
              notice to End User.
            </li>
            <li>
              3. Compensation amounts are displayed on your MeetUs.tube account
              at
              <a href="https://www.meetus.tube/home"
                >https://www.meetus.tube/home</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div>
      <h2>19. Disclosures for 1776 Tokens</h2>
      <ul>
        <li>
          A. At this time, the 1776 Token is not traded in cryptocurrency
          exchanges and has no assigned fiat currency price. WWF reserves the
          right to make a future decision to either be traded in cryptocurrency
          exchanges or start a new cryptocurrency exchange, or both, at which
          time End User will be notified of any such decision by WWF.
        </li>
        <li>
          B. At this time, the 1776 Token is not legal tender and is intended to
          be utilized as a unit of trade exclusively within Internet Platforms
          (“Internet platforms”) approved by WWF.
        </li>
        <li>
          C. At this time, End User or holder of 1776 Tokens should have no
          expectation of fiat currency profit from the 1776 Token and any value
          of the 1776 Token.
        </li>
        <li>
          D. Internet Platforms provide software functionality to match
          suppliers and producers of products and service to trade products and
          services for the 1776 Token.
        </li>
        <li>
          E. The 1776 Token will be traded for products and services within
          Internet Platforms.
        </li>
        <li>
          F. Suppliers and producers of products and services willfully list and
          trade their products or services products and services within Internet
          Platforms marketplaces and optionally accept the 1776 Token as trade.
        </li>
        <li>
          G. The intent to obtain many millions of product listings within our
          Platforms which sellers list products or services for trade utilizing
          bartering, precious metals, the 1776 Token and potentially other
          digital assets.
        </li>
        <li>
          H. The value of many millions of product listings that utilize the
          1776 Token as payment could provide the 1776 Token great value because
          End Users would be able to purchase products and services worldwide.
        </li>
        <li>
          I. No organizations “owns” the 1776 Token, the 1776 Token is
          decentralized. The decentralized 1776 Token for end users of Internet
          Platforms to trade products and services for the 1776 Token.
          Throughout the history of the 1776 Token, from its founding to the
          present date the 1776 Token has never been listed in nor traded in any
          centralized cryptocurrency exchanges. It is estimated that if the 1776
          Token were potentially traded in a cryptocurrency exchange, its
          opening estimated fiat price could be $1.00.
        </li>
        <li>
          J. The 1776 Tokens are not a security and have not been and will not
          be registered under the United States Securities Act of 1933, or any
          United States state securities laws, or the laws of any foreign
          jurisdiction.
        </li>
        <li>
          K. For more information
          <a href="https://1776token.com/" target="_blank">www.1776Token.com</a>
        </li>
      </ul>
    </div>

    <div>
      <h2>20. Release</h2>
      <ul>
        <li>
          A. End User hereby release MeetUs.tube, its affiliated companies,
          Referral Affiliates, and their officers, directors, employees,
          independent contractors, contractors, affiliates, licensees and agents
          and End Users, collectively, the Releasees ("Releasees") from any and
          all liability, costs, expenses, losses, damages (including damage to
          property or personal injury or death), and claims, whether known or
          unknown, which may arise from A) you, the End User hosting,
          participating, attending, or authorizing activities from Content
          within MeetUs.tube or the Services, including activities you
          authorize End Users or supporters promoted within MeetUs.tube or the
          Services or B) from the acts or omissions of third parties you
          interact with through MeetUs.tube or the Services, collectively the
          Releases Claims (“Released Claims”). In furtherance of the forgoing,
          and only with respect to the Released Claims, you waive your rights
          under California Civil Code Section 1542 which states: "A GENERAL
          RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE END USER DOES NOT KNOW OR
          SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE
          RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED
          HIS OR HER SETTLEMENT"
        </li>
      </ul>
    </div>
    <div>
      <h2>21. Waiver and Release</h2>
      <ul>
        <li>
          A. You hereby release MeetUs.tube, its affiliated companies, Referral
          Affiliates, and their officers, directors, employees, independent
          contractors, contractors, affiliates, licensees and agents and End
          Users, collectively, the Releasees ("Releasees") from any and all
          liability, costs, expenses, losses, damages (including damage to
          property or personal injury or death), and claims, whether known or
          unknown, which may arise from A) you, the End User hosting,
          participating, attending, or authorizing an Campaign event, including
          events you authorize End Users or supporters to promote your Campaign
          or B) from the acts or omissions of third parties you interact with
          through the MeetUs.tube Platform, collectively the Releases Claims
          (“Released Claims”). For End Users in a jurisdiction that requires a
          specific statement regarding waiver and release then the following
          applies. California residents must, as a condition, waive the
          applicability of California Civil Code Section 1542. In furtherance of
          the forgoing, and only with respect to the Released Claims, you waive
          your rights under California Civil Code Section 1542 which states: "A
          GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT
          KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING
          THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY
          AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR." Each End User hereby
          waives this Section 1542 of the California Civil Code and any similar
          provision in law, regulation or code that has the same effect or
          intent as the foregoing release. End Users residing in states or
          jurisdictions which may have applicable statutes, regulations, codes
          or laws each End User hereby waives the applicable sections of any
          similar provision in statutes, regulations, codes or laws that has the
          same effect or intent as the foregoing release.
        </li>
      </ul>
    </div>

    <div>
      <h2>22. Limitation of Liability</h2>
      <ul>
        <li>
          A. MEETUS.TUBE, INCLUDING its affiliated companies, Referral
          Affiliates and their officers, directors, employees, independent
          contractors, contractors, affiliates, licensees and AGENTS AND
          NONPROFITS ARE NOT LIABLE FOR ANY INDIRECT, PUNITIVE, INCIDENTAL,
          SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES OR, IN ANY EVENT, FOR
          DAMAGES EXCEEDING THE LESSER OF ONE HUNDRED U.S. DOLLARS ($100.00) OR
          THE FEES PAID TO MEETUS.TUBE FOR THE CONTRIBUTION FROM WHICH THE
          CAUSE OF ACTION AROSE. THIS LIMITATION OF LIABILITY SECTION APPLIES
          WHETHER THE ALLEGED LIABILITY IS BASED ON CONTRACT, TORT, NEGLIGENCE,
          STRICT LIABILITY, OR ANY OTHER BASIS, EVEN IF MEETUS.TUBE HAS BEEN
          ADVISED OF THE POSSIBILITY OF SUCH DAMAGE AND TO THE FULLEST EXTENT
          PERMITTED BY LAW IN THE APPLICABLE JURISDICTION. (For jurisdictions
          that do not allow MeetUs.tube to limit its liability, notwithstanding
          any provision of the Agreement, for End Users in a jurisdiction that
          has provisions specific to waiver or liability that conflict with the
          foregoing, MeetUs.tube liability is limited to the smallest extent
          possible by law. Specifically, in those jurisdictions not allowed,
          MeetUs.tube does not disclaim liability for: (a) death or personal
          injury caused by its negligence or that of any of its officers,
          employees or agents; or (b) fraudulent misrepresentation or
          intentional misconduct; or (c) any liability which it is not lawful to
          exclude either now or in the future).
        </li>
        <li>
          B. The Platform and the Software are made available to you for your
          convenience on an "as is" and "as available" basis. MeetUs.tube DOES
          NOT WARRANT OR MAKE ANY REPRESENTATIONS OR WARRANTIES (INCLUDING BUT
          NOT LIMITED TO MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
          SATISFACTORY QUALITY, RELIABILITY OR NON-INFRINGEMENT) REGARDING THE
          USE OR THE RESULTS OF THE USE OR THE CONTENTS OF THE PLATFORM.
          MeetUs.tube does not warrant or represent that the Platform will be
          free of all viruses. You understand that the Platform may not perform
          with complete functionality, may add or remove features, may be
          undergoing testing, may be inconsistently available, may have software
          "bugs" and may have other issues affecting availability and
          functionality.
        </li>
        <li>
          C. MeetUs.tube does not warrant or represent that the Platform will
          function on all computers or mobile phones. MeetUs.tube many not be
          compatible with all mobile phone networks and/or will be available in
          all geographical areas.
        </li>
        <li>
          D. MEETUS.TUBE SHALL NOT BE LIABLE FOR ANY LOSS OR DAMAGE, WHETHER
          DIRECT, INDIRECT, SPECIAL OR CONSEQUENTIAL, ARISING OUT OF THE USE OF
          OR THE INABILITY TO USE THE PLATFORM, OR THE RESULTS OR THE CONTENTS
          THEREOF, TO THE GREATEST EXTENT PERMITTED BY LAW.
        </li>
        <li>
          E. If you are dissatisfied with the Platform, or have any other
          disputes or claims with or against us with respect to the Platform or
          this Agreement, End User sole and only solutions is to discontinue
          using MeetUs.tube and/or the Services.
        </li>
        <li>
          F. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, MEETUS.TUBE AND
          its employees, members, directors, managers, officers or agents SHALL
          NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR
          PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED
          DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER
          INTANGIBLE LOSSES, RESULTING FROM (a) ACCESS TO INABILITY TO ACCESS
          MEETUS.TUBE; (b) ANY CONDUCT OR CONTENT OF ANY THIRD-PARTY ON
          MEETUS.TUBE; INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE,
          OR ILLEGAL CONDUCT; (c) ANY CONTENT OBTAINED FROM MEETUS.TUBE; OR (d)
          UNAUTHORIZED ACCESS, USE, OR ALTERATION OF YOUR CONTENT OR
          TRANSMISSIONS.
        </li>
        <li>
          G. IN NO EVENT SHALL THE AGGREGATE LIABILITY OF MEETUS.TUBE OR ITS
          employees, members, directors, managers, officers or agents EXCEED THE
          GREATER OF ONE HUNDRED U.S. DOLLARS (U.S. $100.00) OR THE AMOUNT YOU
          PAID MEETUS.TUBE, IF ANY, IN THE PAST SIX MONTHS FOR MEETUS.TUBE
          SERVICES GIVING RISE TO THE CLAIM.
        </li>
        <li>
          H. THE LIMITATIONS OF THIS SECTION SHALL APPLY TO ANY THEORY OF
          LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT
          (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER THE ENTITIES HAVE
          BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF A
          REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL
          PURPOSE.
        </li>
      </ul>

      <h2>23. NO WARRANTIES AND DISCLAIMER</h2>
      <ul>
        <li>
          A. MEETUS.TUBE MAKES NO WARRANTY OF ANY KIND, WHETHER EXPRESSED OR
          IMPLIED, WRITTEN OR ORAL, EXCEPT AS EXPRESSLY STATED HEREIN.
          ADDITIONALLY, MEETUS.TUBE DISCLAIMS ALL OTHER WARRANTIES, EXPRESS AND
          IMPLIED, INCLUDING WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF
          NONPROFITABILITY, FITNESS FOR A PARTICULAR PURPOSE AND FREEDOM FROM
          INFRINGEMENT WITH RESPECT TO MEETUS.TUBE PLATFORM, ALL SOFTWARE
          PRODUCTS, THE MEETUS.TUBE PLATFORM, OTHER SERVICES, UPDATES, UPGRADES,
          NEW RELEASES AND ALL OTHER PRODUCTS, SERVICES, MATERIALS AND OTHER
          ITEMS FURNISHED UNDER OR IN CONNECTION WITH THIS AGREEMENT.
          MEETUS.TUBE PLATFORM ARE ACCEPTED AS IS. NONPROFIT ACKNOWLEDGES THAT
          ITS USE OF THE MEETUS.TUBE PLATFORM IS SUBJECT TO AND CONDITIONED
          UPON ACCEPTANCE OF THIS DISCLAIMER. THE MEETUS.TUBE PLATFORM IS
          PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT ANY
          WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED
          WARRANTIES OF NONPROFITABILITY OR FITNESS FOR A PARTICULAR PURPOSE,
          NONINFRINGEMENT OR COURSE OF PERFORMANCE. USE OF THE SERVICES IS AT
          USER'S OWN RISK. MEETUS.TUBE HAS NO FIDUCIARY RESPONSIBILITY TO ANY
          NONPROFIT.
        </li>
      </ul>

      <h2>24. INTERNET USAGE</h2>
      <ul>
        <li>
          A. MEETUS.TUBE its affiliated companies, REFERRAL AFFILITATES,
          ACQUIRER, SUPPLIERS AND AFFILIATES MAKE NO WARRANTIES REGARDING THE
          QUALITY, RELIABILITY, TIMELINESS OR SECURITY OF INTERNET OR NONPROFIT
          CLIENT DEVICES OR OTHER LINKED COMPUTER NETWORKS, OR OTHER CONNECTED
          TECHNOLOGY OR THE WEBSITES CONNECT TO THE MEETUS.TUBE PLATFORM.
        </li>
      </ul>

      <h2>25. EXCLUSION OF DAMAGES</h2>
      <ul>
        <li>
          A. IN NO EVENT SHALL MEETUS.TUBE, NOR ANY MEETUS.TUBE PARTNERS, its
          affiliated companies, ASSOCIATES, REFERRAL AFFILIATES OR SUPPLIERS BE
          LIABLE FOR DAMAGES RESULTING FROM LOSS OF DATA, LOST PROFITS, BUSINESS
          INTERRUPTION, LOST REVENUE, OR LOST BUSINESS, IN CONNECTION WITH THE
          USE MEETUS.TUBE PLATFORM OR ASSOCIATED SERVICES OR OTHER SOFTWARE OR
          ANY OTHER ITEM OR SERVICE PROVIDED UNDER THIS AGREEMENT, NOR FOR COSTS
          OF PROCUREMENT OF SUBSTITUTE GOODS, NOR FOR ANY SPECIAL, INDIRECT,
          INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN CONNECTION
          WITH THIS AGREEMENT OR ANY PRODUCT OR SERVICE OR OTHER ITEM PROVIDED
          UNDER THIS AGREEMENT, WHETHER IN BREACH OF WARRANTY, CONTRACT, TORT,
          STRICT LIABILITY OR OTHERWISE, (INCLUDING NEGLIGENCE, EVEN IF
          MEETUS.TUBE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
        </li>
      </ul>

      <h2>26. NO CONSEQUENTIAL DAMAGES</h2>
      <ul>
        <li>
          A. IN NO EVENT WILL MEETUS.TUBE, its affiliated companies, REFERRAL
          AFFILIATES, OR ITS SUPPLIERS, BE LIABLE TO CUSTOMER, OR TO ANY THIRD
          PARTY, FOR CONSEQUENTIAL, EXEMPLARY, INDIRECT, SPECIAL OR INCIDENTAL
          DAMAGES, INCLUDING, WITHOUT LIMITATION, LOST PROFITS, EVEN IF THE
          MEETUS.TUBE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
        </li>
      </ul>

      <h2>27. FORCE MAJEURE</h2>
      <ul>
        <li>
          A. MEETUS.TUBE WILL NOT BE RESPONSIBLE FOR ANY DELAYS, ERRORS,
          FAILURES TO PERFORM, INTERRUPTIONS OR DISRUPTIONS IN MEETUS.TUBE
          PLATFORM OR ASSOCIATED SERVICES CAUSED BY OR RESULTING FROM ANY ACT,
          OMISSION OR CONDITION BEYOND MEETUS.TUBE’S REASONABLE CONTROL,
          WHETHER OR NOT FORESEEABLE OR IDENTIFIED, INCLUDING WITHOUT LIMITATION
          INTERNET ACCESS FAILURES, HARDWARD FAILURES, SOFTWARE FAILURES,
          CRIMINAL ACTS, ACTS OF GOD, STRIKES, LOCKOUTS, RIOTS, ACTS OF WAR,
          GOVERNMENTAL REGULATIONS, FIRE, POWER FAILURE, EARTHQUAKES, WEATHER,
          FLOODS OR OTHER NATURAL DISASTERS OR THE FAILURE OF CUSTOMER’S, PAYORS
          OR ANY THIRD PARTY’S HARDWARE, SOFTWARE OR COMMUNICATIONS EQUIPMENT OR
          FACILITIES.
        </li>
      </ul>

      <h2>28. Miscellaneous Provisions</h2>
      <ul>
        <li>
          A. Severability - If any one or more of the provisions contained in
          this Agreement shall in any jurisdiction be held or determined by a
          court having jurisdiction to be invalid, illegal or unenforceable for
          any reason, such provision shall be deemed modified so as to be
          enforceable and permitted by law consistent with the intent of the
          Agreement as expressed herein, and such invalidity shall not affect
          the remaining provisions of this Agreement, which shall continue in
          full force and effect.
        </li>
        <li>
          B. Arbitration – MeetUs.tube and End User agree that all claims and
          disputes arising under or relating to this Agreement are first to be
          settled by mediation. Any unresolved disputes arising under or
          relating to this Agreement are to be settled by binding arbitration.
          The arbitration shall be conducted by arbitration and the parties
          shall be bound by any and the applicable arbitration rules and any
          award/decision rendered. Any decision or award as a result of any such
          arbitration proceeding shall be in writing and shall provide an
          explanation for all decisions. Any such arbitration shall be conducted
          by an arbitrator mutually agreed to and shall include a written record
          of the arbitration hearing. An award of arbitration may be confirmed
          in a court of competent jurisdiction. Unless the parties agree
          otherwise, the same individual will not serve as both mediator
          arbitrator.
        </li>
        <li>
          C. Headings - The headings listed after each section number in this
          Agreement are inserted for convenience only, do not constitute a part
          of this Agreement and are not to be considered in connection with the
          interpretation or enforcement of this Agreement.
        </li>
        <li>
          D. MeetUs.tube Privacy Policy - MeetUs.tube Privacy Policy can be
          viewed at:
          <a href="https://MeetUs.tube/privacy-policy"
            >https://MeetUs.tube/privacy-policy</a
          >.
        </li>
        <li>
          E. Agreement Amendment - This Agreement may be amended, modified, or
          revised at any time by MeetUs.tube with or without notice from
          MeetUs.tube. It is End User’s sole responsibility to review and
          maintain familiarity with any revisions to the Agreement, and End User
          is bound by any revisions to the Agreement. The amendments to this
          Agreement will become effective and binding upon End User when the
          amendments are published to MeetUs.tube.
        </li>
        <li>
          F. Consent Representations and Warranties – By creating an account at
          MeetUs.tube End User represents and warrants that you have read,
          acknowledge and agree to be bound by the terms and conditions of this
          Agreement.
        </li>
      </ul>
    </div>
  </div>
</div>
