<div class="privacy-notice mb-5">
  <h1 class="privacy-notice__title">MeetUs.tube Privacy Policy</h1>
  <p class="privacy-notice__intro">
    The MeetUs.tube Privacy Policy provides information on how <a href="https://www.MeetUs.tube" class="privacy-notice__link">www.MeetUs.tube</a> (“MeetUs.tube”) and End User (you) and how MeetUs.tube may utilize the personal information of End User, as well as Data and/or Content uploaded by End User. This Privacy Policy is part of the MeetUs.tube Terms of Use - End User Agreement located at 
    <a href="https://www.MeetUs.tube" class="privacy-notice__link">www.MeetUs.tube</a>.
  </p>

  <h2 class="privacy-notice__subtitle">1. Information Collection and Usage</h2>
  <p class="privacy-notice__explanation">MeetUs.tube collects certain information about you when you create an account at MeetUs.tube. General knowledge every End User should have is as follows:</p>
  <ul class="privacy-notice__list">
    <li class="privacy-notice__list-item">A. MeetUs.tube does NOT sell your data.</li>
    <li class="privacy-notice__list-item">B. MeetUs.tube does not utilize artificial intelligence.</li>
    <li class="privacy-notice__list-item">C. End Users (you) are solely responsible for any Content you post to the Platform and Services you utilize on the Platform. The Content you share on the Platform is being shared and viewed by other end users.</li>
    <li class="privacy-notice__list-item">D. Content can be shared with an End User choice of Family, Friends, or Public. However, be aware that Content shared to a specific audience does not mean that an end user within the audience in which the content was shared, another end user can share the Content you posted with a different audience. Content can be shared utilizing Social Media Sharing to other third-party services and websites over which MeetUs.tube has no control. Only share Content which you have confidence in sharing with MeetUs.tube users and potentially the world.</li>
    <li class="privacy-notice__list-item">E. MeetUs.tube is not a service intended for children. By using the Platform you affirm that you are eighteen (18) years of age or older.</li>
    <li class="privacy-notice__list-item">F. The Content posted to the Platform is the sole responsibility of the End User that originally posted Content to MeetUs.tube.</li>
    <li class="privacy-notice__list-item">G. Some of this Content / Data may be shared with third parties, including other end users and visitors, advertisers, advertising related service providers and Referral Affiliates, as described further below.</li>
  </ul>

  <h2 class="privacy-notice__subtitle">2. Information Collected by Third Parties</h2>
  <p class="privacy-notice__explanation">
    Third parties, including linked services available to other end users, other social media platforms, third party companies, organizations, individuals, broadcast, syndication, and other types of distribution and/or publication advertisers, and advertising service providers may also collect certain information about you in connection with your use of MeetUs.tube, depending on:
  </p>
  <ul class="privacy-notice__list">
    <li class="privacy-notice__list-item">A. The content you post anywhere on MeetUs.tube</li>
    <li class="privacy-notice__list-item">B. Communities or Groups you join</li>
    <li class="privacy-notice__list-item">C. Pages you like or join</li>
    <li class="privacy-notice__list-item">D. Video Channels you subscribe to</li>
    <li class="privacy-notice__list-item">E. Podcasts you subscribe to</li>
    <li class="privacy-notice__list-item">F. Your media consumption activities including viewed streaming video and IPTV</li>
    <li class="privacy-notice__list-item">G. MeetUs.tube will display targeted advertising owned or controlled by third parties.</li>
    <li class="privacy-notice__list-item">H. MeetUs.tube servers are not located in the United States of America. Any information collected about you in connection with your use of MeetUs.tube and services will be used and stored outside of the United States. We may also transfer your content and data to servers in other countries. End User expressly consents to the processing of your information in accordance with the terms and conditions set forth in this Privacy Policy.</li>
  </ul>

  <h2 class="privacy-notice__subtitle">3. The Information We Collect</h2>
  <ul class="privacy-notice__list">
    <li class="privacy-notice__list-item">A. Account Registration Information - You utilize MeetUs.tube you must first complete a registration form that requests certain basic registration information from you, such as user name, first name, last name, email address, date of birth, and gender.</li>
    <li class="privacy-notice__list-item">B. You can choose to remain anonymous to other end users and when you share information only your User Name displays on MeetUs.tube.</li>
    <li class="privacy-notice__list-item">C. Public information can always be viewed, accessed, and used by anyone with access to MeetUs.tube.</li>
  </ul>

  <h2 class="privacy-notice__subtitle">4. Promotional Materials and Notifications</h2>
  <ul class="privacy-notice__list">
    <li class="privacy-notice__list-item">A. MeetUs.tube may periodically send email promotional materials or notifications related to MeetUs.tube and its services, Affiliate Partners or other partners to your Dedicated Email Address. By continued use of MeetUs.tube, you consent to the receipt of promotional materials or notifications to your Dedicated Email Address. You may opt out by clicking the opt out link within the email.</li>
    <li class="privacy-notice__list-item">B. MeetUs.tube may periodically send SMS text message promotional materials or notifications related to MeetUs.tube and its services, Affiliate Partners or other partners to your mobile device. By continued use of MeetUs.tube, you consent to the receipt of promotional materials or notifications to your mobile device. You may opt out by clicking the opt out link within the SMS text message.</li>
  </ul>

  <h2 class="privacy-notice__subtitle">5. MeetUs.tube Cookie Policy</h2>
  <p class="privacy-notice__explanation">
    MeetUs.tube and the Platform utilize cookies to improve performance and increase the speed of the website. Cookies are small text files which a website may put on your computer or mobile device when you first visit a site or page. The cookie will help the website, or another website, to recognize your device the next time you visit.
  </p>
</div>
